<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

        <!-- 
            Local referencing can be used as an alternative to 2-way binding to send data from 
            template to typescript function. The local reference will point to the original HTML
            element on DOM
        -->
        <input type="text" class="form-control" #serverNameInput>
        <label>Server Content</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

        <!-- 
            Local referencing example by fetching the reference in ts file using ViewChild declarator.
            In this example, we don't need to pass the reference as argument to the function, we can
            access the element from ts code. 
         -->
        <input type="text" class="form-control" #serverContentInput>

        <br>
        <!-- Pass the serverNameInput local reference to the typescript function -->
        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
</div>