<h2>Servers Component</h2>
<!-- 
    event binding example. We can pass the event object to the function using
    special variable in angular $event. This is not 2 way binding!
-->
<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<!-- two way binding example -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{ serverName }}</p>

<!-- Property binding & event binding example -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- String interpolation example -->
<p> {{ serverCreationStatus }} </p>

<app-server></app-server>
<app-server></app-server>