<div class="container">
    <app-cockpit (serverCreated)="handleAddServer($event)" (blueprintCreated)="handleAddBlueprint($event)">
        <!-- Passing the content between custom tags -->
        <p>Pass content to child example</p>
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!-- Binding the custom property 'event' in app-server-element from the parent component app -->
            <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement"></app-server-element>
        </div>
    </div>
</div>