<!-- 
  - Router link directive allows to navigate to a component without refreshing
  - We can use routerLink directive as property binding and then specify array of routing fragments e.g. /users/active 
  - routerLinkActive directive allows to specify a css class on active link
  - routerLinkActive option directive with property binding allows to specify options for active class
  - [routerLinkActiveOptions]="{exact: true}" allows to exactly match the route and add the active class to it
 -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- Router link directive allows to navigate to a component without refreshing -->
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <!-- We can use routerLink directive as property binding and then specify array of routing fragments e.g. /users/active -->
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Tell angular to render the components from routing -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
